# Data Structures

5.1. More on Lists
У типа данных список  есть еще несколько методов. Вот все методы объектов списка


##  list.append(x) #Добавить в список

Добавьте элемент в конец списка. Эквивалентно a[len(a):] = [x].

In [ ]:
a =[1, 2, 3]
x=5
print (type(a), a)

In [ ]:
a[len(a):] = [x]
print(a)

In [ ]:
"""""""
list.extend(iterable)
Extend the list by appending all the items from the iterable. Equivalent to a[len(a):] = iterable.

list.insert(i, x)
Insert an item at a given position. The first argument is the index of the element before which to insert, so a.insert(0, x) inserts at the front of the list, and a.insert(len(a), x) is equivalent to a.append(x).

list.remove(x)
Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

list.clear()
Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
Return the number of times x appears in the list.

list.sort(*, key=None, reverse=False)
Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
Reverse the elements of the list in place.

list.copy()
Return a shallow copy of the list. Equivalent to a[:].

An example that uses most of the list methods:
"""""""

Stepik 3.1 Функции


Напишите функцию modify_list(l), которая принимает на вход список целых чисел, удаляет из него все нечётные значения, а чётные нацело делит на два. Функция не должна ничего возвращать, требуется только изменение переданного списка, например:

lst = [1, 2, 3, 4, 5, 6]
print(modify_list(lst))  # None
print(lst)               # [1, 2, 3]
modify_list(lst)
print(lst)               # [1]

lst = [10, 5, 8, 3]
modify_list(lst)
print(lst)               # [5, 4]
Функция не должна осуществлять ввод/вывод информации.

In [4]:
new_list=[]
big_list=input()
for l in big_list:
    if l%2==0:
        new_list.append(l/2)
    return a

KeyboardInterrupt: Interrupted by user

In [5]:
lst = [10, 5, 8, 3]
lst

[10, 5, 8, 3]

In [6]:
for a in lst:
    for i in range (len(lst)):
        if i%2==0:
            print  (i, a)

0 10
2 10
0 5
2 5
0 8
2 8
0 3
2 3

In [7]:
for a in lst:
    print(a)

10
5
8
3

In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame([[2.0, -5.0],
                   [3.0, 6.0],
                   [1.0, 7.0]],
                   columns=list('AB'))

In [13]:
#df['D']=[-1 if df['B']>0]

In [14]:
D=[]
for i in df['B']:
    if i>0:
        D.append(1)
    else:
        D.append(-1)

In [15]:
df['E']=[]

ValueError: Length of values (0) does not match length of index (3)

In [16]:
df["D"]=D
df

     A    B  D
0  2.0 -5.0 -1
1  3.0  6.0  1
2  1.0  7.0  1

In [17]:
import numpy as np

V = np.array((1,2,3,4))
V

array([1, 2, 3, 4])

In [18]:
print(V[0])  # 1 
print(V[-1]) # 4 
print(V[1:-2]) # [2]  
print(V[::2]) # [1 3]

1
4
[2]
[1 3]

In [19]:
df

     A    B  D
0  2.0 -5.0 -1
1  3.0  6.0  1
2  1.0  7.0  1

In [25]:
df['X']=['a', 'a', 'v']
df

     A    B  D  X
0  2.0 -5.0 -1  a
1  3.0  6.0  1  a
2  1.0  7.0  1  v

In [31]:
mask = df.A > df.B; df.loc[mask, 'C'] = df.loc[mask, 'A']
df.loc[mask, 'C']

0    2.0
Name: C, dtype: float64

In [29]:
df[df.X=='a']

     A    B  D  X
0  2.0 -5.0 -1  a
1  3.0  6.0  1  a

In [24]:
C=df[df['A']>df["B"]]
C

     A    B  D
0  2.0 -5.0 -1

In [22]:
C=[]
for i in range(len(df['A'])):
    if df['A']>=df['B']:
        C.append(i)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().